<p style="margin-top: 20px; margin-bottom: 20px;">
  <ion-label style="margin-left: 15px; margin-bottom: 10px;"><strong>Select Collector Type</strong></ion-label>
    <ion-row justify-content-center>
        <ion-button fill="clear" color="dark" class="icon-button2" href="/hauler-reg">
          <div class="icon-button-inner">
            <ion-img src="../assets/reg_images/truck.png"></ion-img>
            <ion-label class="capital" style="font-size: 4mm; padding-top: 1mm;">Truck Hauler</ion-label>
          </div>
        </ion-button>
        <ion-button fill="clear" color="dark" class="icon-button2" href="/eco-aide-reg">
          <div class="icon-button-inner" style="padding-top: 7.5mm;">
            <ion-img src="../assets/reg_images/kariton.png"></ion-img>
            <ion-label class="capital" style="font-size: 4mm; padding-top: 6mm;">Eco-Aide</ion-label>
          </div>
        </ion-button>
      </ion-row>
</p>
