<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab = "request-list">

      <ion-icon name="list"></ion-icon>
        <ion-label>REQUEST</ion-label>
    </ion-tab-button>
    <ion-tab-button tab = "accepted-list">
      <ion-icon name="checkmark"></ion-icon>
        <ion-label>ACCEPTED</ion-label>
    </ion-tab-button>
    <ion-tab-button tab = "trackpage" disabled="true">
      <ion-icon name="pin"></ion-icon>
        <ion-label>TRACK</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
