<ion-header>
    <ion-toolbar color="dark">
      <ion-row>
        <ion-button fill="clear" style="margin-top: 7px; margin-left: -10px;" color="success" class="larger-icon" (click)="closeModal()"><ion-icon name="arrow-back"></ion-icon></ion-button>
        <ion-title>User's Waste Information</ion-title>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-size: 4.5mm;"><strong>{{mod_firstname}} {{mod_lastname}} </strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>{{mod_address}}<br>
          6.9 KM Away<br>
          Bulk Wastes, Residual Wastes
        </ion-text>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-img src="/assets/waysteLogo/trashsamp.jpg" alt="Invalid Image" style="margin: 4mm;"></ion-img>
    </ion-card>
    <br>
    <ion-row justify-content-center>
      <ion-button color="success"><ion-icon name="checkmark-circle-outline" slot="start" (click)="updateItem()"></ion-icon>Accept</ion-button>
      <ion-button color="light" (click)="closeModal()"> <ion-icon name="close-circle-outline"  slot="start"></ion-icon>Ignore</ion-button>
    </ion-row>
  </ion-content>
  